body {
	background: #FCFCFC !important;
}

.navbar {
	font-family: Montserrat;
	background: #DE6465 !important;
	height: 80px;
}


#home-btn {
	margin: 14px 0px 0px 80px;
}

#signout {
	margin: 14px 80px 0px 0px;
}

.custom-nav {
	color: white !important;
}


#top-container {
	border-bottom: solid #DE6465 1px;
	margin-top: 80px;
	margin-bottom: 80px;
}

button#upload-btn {
	margin: 20px 0px 0px 0px;
	height: 30px;
	width: 130px;
	font-size: 14px;
	color: white;
	background: #F6C991;
	border-radius: 5px;
	border: solid #F6C991 1px;
}

h1 {
	font-size: 40px;
	color: #DE6465;
	font-weight: 700;
	text-align: center;
	line-height: 40px;
	margin: 70px 0px 100px 0px;
}


