body {
	background: #FCFCFC !important;
}

#top-container {
	border-bottom: solid #DE6465 1px;
	margin-top: 80px;
	margin-bottom: 80px;
}

.location {
	font-size: 30px;
	color: #DE6465 !important;
	margin-left: 94px;
	margin-top: 20px;

}

.thumbnail-pckg:first-child {
	margin-left: 94px;
} 

.thumbnail-pckg {
	width: 200px;
	height: auto;
	margin-right: 50px;
	margin-top: 60px;
	text-align: center;
}

.thumbnail-pckg:last-child {

}

.img-thumbnail {
	height: 250px;
	width: auto;
}

.photo-date {
	text-align: center;
	margin-top: 20px;
}

.top-btn {
	display: inline-block;
}

#get-help {
	margin: 20px 0px 0px 0px;
	height: 45px;
	width: 94px;
	font-size: 14px;
	color: #F6C991;
	background: white;
	border-radius: 5px;
	border: solid #F6C991 1px;
}

#get-help:hover {
	color: white;
	background: #F6C991;
	opacity: .5;
}

#create-pdf {
	margin: 20px 0px 0px 0px;
	height: 45px;
	width: 114px;
	font-size: 14px;
	color: #F6C991;
	background: white;
	border-radius: 5px;
	border: solid #F6C991 1px;
}

#create-pdf:hover{
	color: white;
	background: #F6C991;
	opacity: .5;
}

.help-parent {
	margin-left: 15px;
}

#create-dropdown {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 -5px 3px -10px #FFF;
	color: #6B6B76;
	height: 80px;
	margin-top: -20px;
}

.create-blurb {
	margin-left: 94px;
	margin-top: 20px;
}

.link {
	color: #F6C991;
}

.cancel {
	margin: 20px 0px 0px 0px;
	height: 45px;
	width: 114px;
	font-size: 14px;
	color: #F6C991;
	background: white;
	border-radius: 5px;
	border: solid #F6C991 1px;
}

.cancel:hover{
	color: white;
	background: #F6C991;
	opacity: .5;
}

#download-pdf {
	margin: 20px 0px 0px 0px;
	height: 45px;
	width: 155px;
	font-size: 14px;
	color: white;
	background: #F6C991;
	border-radius: 5px;
	border: solid #F6C991 1px;
	margin-left: 20px;
}

#help-dropdown {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 -5px 3px -10px #FFF;
	color: #6B6B76;
	height: 80px;
	margin-top: -20px;
}

.create-blurb {
	margin-left: 94px;
	margin-top: 20px;
}

.link {
	color: #F6C991;
}

.cancel {
	margin: 20px 0px 0px 0px;
	height: 45px;
	width: 114px;
	font-size: 14px;
	color: #F6C991;
	background: white;
	border-radius: 5px;
	border: solid #F6C991 1px;
}

.cancel:hover{
	color: white;
	background: #F6C991;
	opacity: .5;
}

#help-btn {
	margin: 20px 0px 0px 0px;
	height: 45px;
	width: 155px;
	font-size: 14px;
	color: white;
	background: #F6C991;
	border-radius: 5px;
	border: solid #F6C991 1px;
	margin-left: 20px;
}