{% extends "layout.html" %}

{% block content %}
<link href= '{{ url_for("static", filename="empty.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="modal.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="photos.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="perp.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="detail.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="img_preview.js") }}'></script>
<script src='{{ url_for("static", filename="post_comment.js")}}'></script>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a id="home-btn" class="navbar-brand custom-nav" href="/welcome">ADVOKIT</a>
		</div>

		<div>
			<ul class="nav navbar-nav navbar-right">
				<li id="signout"><a class ="custom-nav" href="/logout">SIGN OUT</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid non-nav" id="empty">

	<div class="col-md-8">
		<div class="row mini-header">
			<div class="col-md-9 location">
				PEOPLE > {{ perpname.upper() }} > GET HELP
			</div>
		</div>

		<hr>
		<div class="img-container">
			<img id="det-img" src="{{ photo.get_url() }}" />
		</div>
	</div>

	<div class="col-md-4" id="get_help">
		<div class="col-md-12" id="head">
			GET HELP
		</div>
		<div class="col-md-12" id="help-body">
			<div id="subhead">
				Talk anonymously with an expert counselor about the screens you’ve selected. This conversation will be saved for your future reference.
			</div>
			<div class="comments">
				{% for comment in comments %}
					<div class="comment">
						{{ comment.content }}
						<br>
						<br>
						<span class="comment-date">{{ comment.created.strftime("%m/%d/%Y %-H:%M:%S") }}</span>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="comment-area">
					<form>
						<textarea rows="4" id="new-comment" class="textarea" placeholder="Comment"></textarea>
						<input id="comment-submit-btn" type="submit" value="Comment" data-id="{{ photo.id }}">
					</form>
				</div>
			</div>


		</div>
	</div>

</div>

{% endblock %}
