{% extends "layout.html" %}

{% block content %}
<link href= '{{ url_for("static", filename="empty.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="modal.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="photos.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="perp.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="detail.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="btn_show.js") }}'></script>
<script src='{{ url_for("static", filename="img_preview.js") }}'></script>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a id="home-btn" class="navbar-brand custom-nav" href="/welcome">PRODUCT NAME</a>
		</div>

		<div>
			<ul class="nav navbar-nav navbar-right">
				<li id="signout"><a class ="custom-nav" href="/logout">SIGN OUT</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid non-nav" id="empty">

	<div class="col-md-8">
		<div class="row mini-header">
			<div class="col-md-9 location">
				PEOPLE&nbsp;&nbsp;>&nbsp;&nbsp;{ PURP NAME }&nbsp;&nbsp;>&nbsp;&nbsp;GET HELP
			</div>
		</div>

		<hr>
	</div>

	<div class="col-md-4" id="get_help">
		<div class="col-md-12" id="head">
			GET HELP
		</div>
		<div class="col-md-12" id="help-body">
			<div id="subhead">
				Talk anonymously with an expert counselor about the screens you’ve selected. This conversation will be saved for your future reference.
			</div>
			<div class="comments">
				<!-- THIS IS WHERE WE NEED TO PUT THE COMMENTS -->
			</div>
			<div class="row">
				<div class="comment-area">
					<form>
						<textarea rows="4" class="textarea" placeholder="Comment"></textarea>
						<input id="comment-submit-btn" type="submit" value="Comment">
					</form>
				</div>
			</div>


		</div>
	</div>

</div>

{% endblock %}
