
{% extends "layout.html" %}

{% block content %}
<link href= '{{ url_for("static", filename="empty.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="signup_btn.js") }}'></script>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a id="home-btn" class="navbar-brand custom-nav" href="/welcome">PRODCUT NAME</a>
		</div>

		<div>
			<ul class="nav navbar-nav navbar-right">
				<li id="signout"><a class ="custom-nav" href="/welcome">SIGN OUT</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid non-nav" id="empty">
	<div class="col-md-offset-10">
		<button id="upload-btn" type="">UPLOAD A PHOTO</button>
	</div>
	<hr>
	<h1 class="col-md-8 col-md-offset-2"> This is a header that reenforces the value prop and reassures privacy.</h1>
	<div class="row valueprops">
		<div class="col-md-3 col-md-offset-1 value">
			<div class="row photo">
				<img class="img" id="photo-upload-img" src="static/photo-upload.png" alt="Photo Upload">
			</div>
			<div class="row image-blurb">
				Upload screenshots of<br>conversations that made<br>you feel uncomfortable.
			</div>
		</div>
		<div class="col-md-3 value">
			<div class="row photo">
				<img class="img" id="question-icon-img" src="static/question-icon.png" alt="Question">
			</div>
			<div class="row image-blurb">
				Ask trained counselors for<br>help with responding to<br>inappropriate messages.
			</div>
		</div>
		<div class="col-md-3 value">
			<div class="row photo">
				<img class="img" id="pdf-icon-img" src="static/pdf-icon.png" alt="PDF Icon">
			</div>
			<div class="row image-blurb">
				Download a PDF of your<br>conversations when you're<br>ready to report.
			</div>
		</div>

	</div>

</div>

{% endblock %}
