
{% extends "layout.html" %}

{% block content %}
<link href= '{{ url_for("static", filename="index.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="signup_btn.js") }}'></script>

<div class="container-fluid non-nav" id="index">
	<div class='col-md-7'>
		<div class="row">
			<div class="advokit-container col-md-offset-2">
				<span id="advokit">Advokit</span>
			</div>
		</div>
		<div class="row">
			<div id="header-text" class='col-md-offset-2'>
				<h1>You don't deserve<br>to be harassed.</h1>
				<h2>Collect screenshots of conversations that<br>make you uncomfortable. Get help with how<br>to respond. Download a PDF history when<br>you’re ready to file a report.</h2>
			</div>
		</div>
		<img id="iphone-img" src="static/iphone.png" alt="iPhone">

	</div>
	<div class='col-md-5'>
		<div id="homepage-box">
			<div class="box-content">
				<button id="signup-btn" type="" onclick="alert('meh')">Sign Up</button>
				<button id="login-btn" type="" onclick="alert('cool')">Login</button>
				<br>
				<img id="signup-img" src="static/signup.png" alt="Sign Up">
				<div id="privacy-assurance">
					We respect your privacy and will never<br>share your information with anyone.
				</div>
				<form action="" method="post">
					<input class="login-input" type="text" name="username" id="username" placeholder="Email address">
					<input class="login-input" type="password" name="password" id="password" placeholder="Password">
					<br>
					<input id="login-submit-btn" type="submit" value="GET STARTED">
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
