{% extends "layout.html" %}

{% block content %}
<link href= '{{ url_for("static", filename="empty.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="modal.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="photos.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="perp.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="btn_show.js") }}'></script>
<script src='{{ url_for("static", filename="img_preview.js") }}'></script>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="home-btn" class="navbar-brand custom-nav" href="/welcome">ADVOKIT</a>
    </div>

    <div>
      <ul class="nav navbar-nav navbar-right">
        <li id="signout"><a class ="custom-nav" href="/welcome">SIGN OUT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid non-nav" id="empty">
  <div class="row mini-header">
    <div class="col-md-3 location">PEOPLE</div>

    <div class="col-md-1 col-md-offset-6">
      <button id="upload-btn" type="" data-toggle="modal" data-target="#myModal">UPLOAD A PHOTO</button>
    </div>
  </div>
  <hr>

  <div class="allperps">
    {% for perp in perps %}
    <div class="perp-container">

    	<div class="circle">
    		<div class="perp">
    			<a class="perp" href="{{ perp.get_photo_url() }}">{{ perp.name.upper() }}</a>
    		</div>
    	</div>

    	<div class="num-photos">
        {% if perp.photos.count() == 1 %}
          <span class="num" >1 Photo</span>
        {% else %}
          <span class="num" >{{ perp.photos.count() }} Photos</span>
        {% endif %}
    	</div>

    	<div class="dates">
        {% if perp.photos.count() != 0 %}
    		  <span class="date-text" >{{ perp.photos.first().when.strftime("%m/%d/%Y") }} - {{ perp.photos.all()[-1].when.strftime("%m/%d/%Y") }}</span>
        {% endif %}
    	</div>

    </div>
    {% endfor %}
  </div>

  </div>
  <div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

	    	<!-- Modal content-->
	    	<div class="modal-content">

	    		<div class="modal-header">
	    			<button type="button" class="close" data-dismiss="modal">&times;</button>
	    			<h4 class="modal-title">UPLOAD A PHOTO</h4>
	    		</div>

	    		<form method="POST" action="/upload" enctype="multipart/form-data">
		    		<div class="modal-body row">

		    			<div class="col-md-6">
								<div class="meta-container">
								<div class="upload-container">
			    				<img id="output"/>
			    				<input id="choose-file" name ="file" type="file" accept="image/*" onchange="loadFile(event)">
								</div>
							</div>
		    			</div>

		    			<div class="col-md-6">

		    				<div class="input-group">
		    					<p class="input-header">Who sent you this message?</p>
		    					<p class="input-subheader">Give this person a nickname to preserve annonymity.</p>
		    					<input class="input-field" type="text" name="name" placeholder="Name">
		    				</div>

		    				<div class="input-group">
		    					<p class="input-header">When did this happen?</p>
		    					<input class="input-field" type="date" name="date" placeholder="Select a date">
		    				</div>

		    				<div class="input-group">
		    					<p class="input-header">What's the context?</p>
		    					<p class="input-subheader"></p>
		    					<textarea class="input-field" id="textfield" rows="10" placeholder="Add some notes about the context of this exchange for future reference." name="content"></textarea>
		    				</div>

		    			</div>
		    		</div>

		    		<div class="modal-footer">
		    			<input type="submit" class="btn btn-default pull-left" id="donebtn" value="DONE">
		    			<button type="button" class="btn btn-default pull-left" id="cancelbtn" data-dismiss="modal">CANCEL</button>
		    		</div>
	    		</form>

	    	</div>
        <!-- MODAL ENDS -->

      </div>
  </div>

</div>

{% endblock %}
