{% extends "layout.html" %}

{% block content %}
<link href= '{{ url_for("static", filename="empty.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="modal.css") }}' rel='stylesheet' />
<link href= '{{ url_for("static", filename="photos.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="btn_show.js") }}'></script>
<script src='{{ url_for("static", filename="img_preview.js") }}'></script>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="home-btn" class="navbar-brand custom-nav" href="/welcome">PRODUCT NAME</a>
    </div>

    <div>
      <ul class="nav navbar-nav navbar-right">
        <li id="signout"><a class ="custom-nav" href="/logout">SIGN OUT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid non-nav" id="empty">
  <div class="row mini-header">
    <div class="col-md-3 location">Person > {perpname}</div>
    <div class="col-md-offset-4 col-md-1">
      <button id="create-pdf" type="" data-toggle="modal">CREATE PDF</button>
    </div>
    <div class="col-md-1 help-parent">
      <button id="get-help" type="">GET HELP</button>
    </div>
    <div class="col-md-1">
      <button id="upload-btn" type="" data-toggle="modal" data-target="#myModal">UPLOAD A PHOTO</button>
    </div>
  </div>
  <hr>

  <div class="row" id="create-dropdown">
    <div class="col-md-offset-1 col-md-7 create-blurb">
      Select the photos you want to include in the PDF that we'll generate<br>for you. Need help understand the reporting process? <span class="link">Visit our FAQ.</span>
    </div>
    <div class="col-md-1">
      <button class="cancel" type="">CANCEL</button>
    </div>
    <div class="col-md-1">
      <button id="download-pdf" type="">DOWNLOAD PDF</button>
    </div>
  </div>

    <div class="row" id="help-dropdown">
      <div class="col-md-offset-1 col-md-7 create-blurb">
        Select the photos you want to discuss anonymously with a counselor. The counselor will be abe to view the photos you select. Need help? <span class="link">Visit our FAQ.</span>
      </div>
      <div class="col-md-1">
        <button class="cancel" type="">CANCEL</button>
      </div>
      <div class="col-md-1">
        <button id="help-btn" type="">GET HELP</button>
      </div>
    </div>

  <div>
    {% for photo in photos %}
    <div class = 'col-md-2 thumbnail-pckg'>
      <div class="row">
        <a href = "google.com"><img src ="{{ photo.get_url() }}" class="img-thumbnail" /></a>
      </div>
      <div class="row">
        <div class="photo-date">{{ photo.created }}"</div>
      </div>
    </div>
    {% endfor %}
  </div>

  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">UPLOAD A PHOTO</h4>
          </div>

          <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="modal-body row">

              <div class="col-md-6">
                <img id="output"/>
                <input name ="file" type="file" accept="image/*" onchange="loadFile(event)">
              </div>

              <div class="col-md-6">

                <div class="input-group">
                  <p class="input-header">Who sent you this message?</p>
                  <p class="input-subheader">Give them a nickname like "butthead123" to preserve annonymity.</p>
                  <input class="input-field" type="text" name="name" placeholder=" Name">
                </div>

                <div class="input-group">
                  <p class="input-header">When did this happen?</p>
                  <input class="input-field" type="date" name="date" placeholder="">
                </div>

                <div class="input-group">
                  <p class="input-header">What's the context?</p>
                  <p class="input-subheader">Add some notes about the context of this exchange (where it happened, why it happened, any relevant events before/afterwards, etc.)</p>
                  <textarea class="input-field" id="textfield" rows="10" placeholder=" Context" name="content"></textarea>
                </div>

              </div>
            </div>

            <div class="modal-footer">
              <input type="submit" class="btn btn-default pull-left" id="donebtn" value="UPLOAD">
              <button type="button" class="btn btn-default pull-left" id="cancelbtn" data-dismiss="modal">CANCEL</button>
            </div>
          </form>

        </div>
        <!-- MODAL ENDS -->

      </div>
  </div>

</div>

{% endblock %}
