{% extends "layout.html" %}

{% block content %}
<link href= '{{ url_for("static", filename="photos.css") }}' rel='stylesheet' />

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a id="home-btn" class="navbar-brand custom-nav" href="/welcome">PRODUCT NAME</a>
		</div>

		<div>
			<ul class="nav navbar-nav navbar-right">
				<li id="signout"><a class ="custom-nav" href="/welcome">SIGN OUT</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class = "container-fluid non-nav">
	<h1> PEOPLE </h1>
    <!-- <p><button type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#myModal">Upload a Photo</button></p> -->
    <div class="col-md-offset-10">
		<button id="upload-btn" type="" data-toggle="modal" data-target="#myModal">UPLOAD A PHOTO</button>
	</div>
    <a href = 'google.com'><img src = '{{ url_for("static", filename="cinqueterre.jpg") }}' class="img-thumbnail" rel='stylesheet' /></a>
    <a href = 'google.com'><img src = '{{ url_for("static", filename="cinqueterre.jpg") }}' class="img-thumbnail" rel='stylesheet' /></a>
    <a href = 'google.com'><img src = '{{ url_for("static", filename="cinqueterre.jpg") }}' class="img-thumbnail" rel='stylesheet' /></a>
    <a href = 'google.com'>	</a>

  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload a Photo</h4>
        </div>
        <div class="modal-body">
          <p>Who sent you this message?</p>
          <p class="text-muted"><small>Only you will see this information.</small></p>
          <input>
          <p>When did this happen?</p>
          <input>
          <p>What's the context?</p>
          <textarea rows="3"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Done</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

{% endblock %}
